@use "./variables" as *;

footer {
  background-color: $secondary-bg;
  padding: 20px;

  h5 {
    color: $secondary;
    text-align: center;
  }

  p,
  a {
    text-transform: none;
    font-size: 0.8rem;
    padding: 0px;
    margin: 0px;
    color: $secondary;
    text-align: center;
  }

  a::before,
  a::after {
    content: '';
  }
}