@use "./variables" as *;

section {
  padding-top: 40px;
  padding-bottom: 40px;
  // border: 1px solid green;

  h2 {
    margin-top: 80px;
    margin-bottom: 40px;
    // border: 2px dotted grey;
  }
}

header {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bg {
  height: 50vh;
  background-color: $primary-bg;
  // background-image: linear-gradient(rgba(200,200,200,0.7), rgba(200,200,200,0.5)), url("../assets/games-background.jpg");
  background-image: linear-gradient(rgba(236,231,238, 0.9), rgba(236,231,238, 0.8)), url("../assets/games-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.title {
  h1 {
    padding: 0;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }

  .big {
    font-size: 150%;
  }

  .underline {
    text-decoration: underline;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.about-me {
  background-color: $tertiary-bg;
  
  .wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.skills {
  background-color: $secondary-bg;
  color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;

  h2, p {
    color: $secondary;
  }
}

.skill-wrapper {
  padding-bottom: 40px;
  margin: auto;
  width: 40%;
  min-width: 480px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
    
  i {
    font-size: 3.5rem;
  }
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 1px solid red;
}

.projects {
  background-color: $tertiary-bg;
}

.projects-wrapper {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5%;
}

.project-item {
  width: 44%;
  background-color: white;

  img {
    width: 100%;
    height: auto;
  }
}

.project-text {
  padding: 20px;
}

.contact {
  background-color: $primary-bg;
}

footer {
  background-color: $secondary-bg;
  padding: 20px;

  h5 {
    color: $secondary;
  }
}