@use "./variables" as *;

section {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;

  h2 {
    margin-bottom: 60px;
  }

  &:target {
    animation: 0.5s slide-in;
  }
}

@keyframes slide-in {
  from {
    transform: translate(-30%,0);
  }  
  to {
    transform: translate(0,0);
  }
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ********************* */
/* TITLE section styling */
.title-bg {
  height: 85vh;
  min-height: 520px;
  background-color: $secondary-bg;
  background-image: linear-gradient(rgba($secondary-bg, 0.9), rgba($secondary-bg, 0.75)), url("../assets/games-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.title {
  h1 {
    padding: 0;
    margin-top: 15vh;
    margin-bottom: 40px;
    line-height: 1em;
    letter-spacing: 0.2rem;
    text-align: center;

    div {
      text-decoration: underline;
      text-shadow: 1px 1px 1px $secondary;
    
      &::first-letter {
        font-size: 150%;
        text-decoration: none;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  p,
  a {
    color: $secondary;
    padding-top: 20px;
  }

  p {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 20px;

    span {
      animation: 4s glow-across infinite;
      animation-delay: calc(0.05s * var(--i));
    }

    @keyframes glow-across {
      0% {
        text-shadow: $primary 0px 0px 10px,
        $primary 0px 0px 18px,
        $primary 0px 0px 25px;
      }
  
      50% {
        text-shadow: $primary 0px 0px 30px,
        $primary 0px 0px 60px,
        $primary 0px 0px 90px,
        $primary 0px 0px 120px,
        $primary 0px 0px 150px,
        $primary 0px 0px 180px,
        $primary 0px 0px 210px;
      }

      100% {
        text-shadow: $primary 0px 0px 10px,
        $primary 0px 0px 20px,
        $primary 0px 0px 30px;
      }
    }
  }

  a {
    padding: 20px;
    border: 5px solid rgba($tertiary-bg, 0.2);
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.5s ease, border 0.5s ease;

    &:hover,
    &:focus {
      text-decoration-color: $secondary;
      border: 5px solid $secondary-bg;
      background-color: $secondary-bg;
    }
  }
}

/* ************************ */
/* ABOUT ME section styling */
.about-me {
  background-color: $primary-bg;
  
  .wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    width: 50%;
    text-align: center;
  }
}

/* ********************** */
/* SKILLS section styling */
.skills {
  background-color: $secondary-bg;
  color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;

  h2, p {
    color: $secondary;
  }
}

.skill-wrapper {
  padding-bottom: 40px;
  margin: auto;
  width: 40%;
  min-width: 480px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
    
  i {
    font-size: 3.5rem;
  }
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ************************ */
/* PROJECTS section styling */
.projects {
  background-color: $primary-bg;
  padding-bottom: 80px;
}

.projects-wrapper {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5%;
}

.project-item {
  width: 45%;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 5px 5px 5px $tertiary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 0.5s ease;

  &:hover,
  &:focus {
    box-shadow: 15px 15px 15px $tertiary;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  h3 {
    margin-top: 10px;
    border: 5px double rgba($tertiary, 0.2);
    border-radius: 10px;
  }

  a {
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    border: 5px solid rgba($tertiary-bg, 0.2);
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.5s ease, border 0.5s ease;

    &:hover,
    &:focus {
      text-decoration-color: $tertiary;
      border: 5px solid $primary-bg;
      background-color: $primary-bg;
    }
  }
}

.project-text {
  padding: 20px;

  p {
    a {
      margin: 0px;
      padding: 0px;
      border: none;
      text-decoration: underline;

      &:hover,
      &:focus {
        border: none;
      }

      &::before,
      &::after {
        content: '';
      }
    }
  }
}

/* ************************** */
/* CONTACT ME section styling */
.contact {
  background-color: $tertiary-bg;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    color: $tertiary;
  }

  a {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 1s ease;

    &:hover,
    &:focus {
      background-color: $primary-bg;
    }
  }

  p {
    margin-left: 20%;
    margin-right: 20%;
  }
}