// Define the variables we'll be using:
// Website Colours
$primary: #C3DAB7;
$secondary: #F6F6F6;
$tertiary: #333333;

// Bring in Google Fonts
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap';

// Website Fonts
$header-font: Montserrat, sans-serif;
$button-font: Montserrat, sans-serif;
$nav-font: Montserrat, sans-serif;
$body-font: Open Sans, sans-serif;